span.plot-control { display: block; margin: 1em;}
input[type=range] { width: 25em; display: inline-block; vertical-align: middle; }
h1 { text-align: left; margin-left: 1.5rem; margin-bottom: 1rem; }
h2 { text-align: left; }
div { padding-bottom: 1rem; padding-left: 1.5rem; }
#diagram { text-align: left; padding-bottom: 2rem; }
#diagram img { width: 30rem; }
span.rate { display: block; margin-bottom: 0.5rem; }
#event {padding-top: 1rem; font-size: 1.5rem; }
span.S { color: #0000ff; min-width: 1.5rem; display: inline-block; text-align: center; }
span.I { color: #ff0000; min-width: 1.5rem; display: inline-block; text-align: center; }
span.R { color: #007f00; min-width: 1.5rem; display: inline-block; text-align: center; }
.person.state { min-width: 1.5rem; display: inline-block; text-align: center; }

#footer { text-align: center; padding-top: 2rem; font-size: 90%; }
#footer a:link, #footer a:visited, #footer a:hover, #footer a:focus, #footer a:active { color: #3182bd; }

svg.plot {width: 40rem; max-height: 20rem; }
line.axis { stroke: #000000; stroke-width: 2; }
path.series { stroke-width: 4; fill: none; }
path.series.s { stroke: #0000ff; }
path.series.i { stroke: #ff0000; }
path.series.r { stroke: #007f00; }

tr.equation { height: 2.5rem; }
td.equation { padding-left: 1em; }
